<!DOCKTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>DFS</title>
	<link rel="stylesheet" href='{% static "grafo.png" %}'>
</head>
<body>
	<h1>Busqueda en profundidad</h1>
	<h2>DFS (Deep first search)</h2>
	<img src='{% static "grafo.png" %}'/>
	<form method = 'POST' action = "">
		 {% csrf_token %}
		<input type="submit" value="Generar Tesoro">
	</form>
	<p>El algoritmo se detiene cuando encuentra el nodo con el tesoro</p>
	<p>Ademas se muestra la informacion respecto a los nodos</p>
	{% if t != '' %}
		<h4>Tesoro encontrado en {{ t }}</h4>
	{% endif %}
	{% for k in text %}
		<p>{{ k }}</p>
	{% endfor %}
</body>
</html>